!!! 5
%html
  %head
    %script{:type => "text/javascript", :src => "/js/jquery-1.10.2.min.js"} 
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/app.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/bootstrap.min.css"}
  %body
    .header
      %h1
        %a{href: "/"} Connect 4
      %h3 You have joined the game with id #{@id}
    .container
      .row
        .span3
          .c4-game
            .c4-board
              - @game.configuration.each do |col|
                .c4-column
                  - (0..5).each do |row|
                    .c4-row
                      = haml :"circle.html", :locals => {:diam => 50}
        .span3.offset4#info
          %h3.text-center Information
      .row
        .span2.offset1
          .box
            .token{style: "background-color: red;"}
            .token{style: "background-color: white;"}
  %script{:type => "text/javascript", :src  => "/js/application.js"}