!!! 5
%html
  %head
    %script{:type => "text/javascript", :src => "http://code.jquery.com/jquery-1.10.1.min.js"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/app.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/bootstrap.min.css"}
  %body
    .container
      .row
        .span12
          .hero-unit
            %h1
              %a{href: "/"} Connect 4
            %p Create a game and share the link with a friend!
    .content
      %a.btn.btn-primary{type: "submit", href: "/game/#{@newGameId}"} Generate New Game
