.header {
	text-align: center;
}

.content, .c4-game {
  width:100%;

  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;

  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;

  display:box;
  box-pack:center;
  box-align:center;
}

.c4-board {
  background-color: #146278;

  position: relative;

  width: 370px;
  height: 350px;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;

  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;

  display:box;
  box-pack:center;
  box-align:center;
}

.c4-column {
  width: 50px;
  position: relative;
  cursor: pointer;

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.c4-row {
  width: 50px;
  position: relative;
  max-height: 50px;
}

#info > .row {
	-webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;

  margin-bottom: 5px;
  padding-left: 2px;

  background-color: #e0eaf1;
}

.box {
	background-color: #146278;

	width: 100px;
	height: 50px;

	margin-top: 4px;

	-webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.token {
	display: inline-block;

	width: 35px;
	height: 35px;

	margin-top: 7px;
	margin-left: 8.5px;

	-webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.winning-container {
  height: 0px;
}

.winning-piece {
  width: 15px;
  height: 15px;
  background-color: rgb(18, 243, 18);
  position: relative;

  left: 16.5px;
  top: 18px;

  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;

  opacity: 0;

  z-index: 2;
}

svg {
	position: relative;
}
